{% extends "base.html" %}
{% block content %}
<h2>Report Lost or Found Item</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>{{ form.title.label }} {{ form.title() }}</div>
    <div>{{ form.description.label }} {{ form.description() }}</div>
    <div>{{ form.item_type.label }} {{ form.item_type() }}</div>
    <div>{{ form.date_reported.label }} {{ form.date_reported() }}</div>
    <div>{{ form.location.label }} {{ form.location() }}</div>
    <div>{{ form.submit() }}</div>
</form>
{% endblock %}